.container ul a :hover {
background-color: rgba(128, 128, 128, 0.342);
}

.container1 {
    margin-top: 4%;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 50%;
    overflow: hidden;
    border: 5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 12s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

img {
    width: 100%;
}

.toko {
    padding: 20px;
    text-align: center;
    background: rgba(0, 255, 255, 0.763)
}

.toko h1 {
    font-size: 45px;
    font-family: fantasy;
    color: rgba(224, 51, 3, 0.918);
}

.toko h3 {
    font-size: 15px;
}

.nav-item a {
    color: black;
}

.container .display-2 {
    color: blue;
    font-family: cursive;
    font-size: medium;
}

.bawah {
    font-family: fantasy;
    background-color: rgba(0, 0, 0, 0.737)
}

.bawah h2 {
    color: rgba(0, 255, 255, 0.676)
}

.bawah ul a {
    color: white;
    font-family: serif;
}

.bawah .col-sm-3 .searchform {
    font-family: serif;
    color: #ffffff;
}

.single-widget {
    color: darkgrey
}

.footer-bottom {
    padding-left: 20%;
    text-align: center;
    color: cornsilk;
    background-color: rgba(0, 0, 0, 0.795);
}

.kebersihan {
    padding: 20px;
    text-align: center;
}

.kebersihan h1 {
    font-size: 45px;
    font-family: fantasy;
    color: rgba(19, 5, 1, 0.918);
}
.row {
    padding: 20px;
}

@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}